<!DOCTYPE html>
<html lang="en" data-ng-app="treinamento">
<head>
	<meta charset="UTF-8">
	<title>Treinamento MEAN Stack</title>
</head>
<body data-ng-controller="ExemploController as Exemplo">
	<h1>{{ Exemplo.titulo }}</h1>
	<label for="">Busca: <input type="text" data-ng-model="searchCourse"></label>
	<table>
		<thead>
			<tr>
				<th data-ng-repeat="(key, value) in Exemplo.modulos[0]">{{ key }}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="mod in Exemplo.modulos | orderBy:'nome' | filter: searchCourse">
				<td data-ng-repeat="(key, value) in mod">{{ value }}</td>
			</tr>
		</tbody>
	</table>

	<script src="../vendor/angular/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('treinamento', [])
			.controller("ExemploController", ExemploController);

		function ExemploController(){
			var vm = this;
			vm.titulo = "Módulos";
			vm.modulos = [
				{ nome: 'MongoDB', qtdHoras: 2.5 },
				{ nome: 'Node.JS', qtdHoras: 2.5 },
				{ nome: 'Mongoose.JS', qtdHoras: 1 }
			];
		}

	</script>
</body>
</html>