<!DOCTYPE html>
<html lang="en" data-ng-app="app"> 
	<!--Rootscope: Se eu mantiver o ng-app no body o 
	rootscope vai estar limitado à ele. 
	Se nomear o ng-app="app", precisaremos ter um módulo
	javascript contendo o nome do nosso app.
	-->
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
</head>
<body >
	<label for="">Seu nome:
		<input type="text" data-ng-model="nome">
	</label>
	
	Olá mundo, {{ nome }}, 
	
	<label for="">Título:
		<input type="text" data-ng-model="title">
	</label>

	<br>
	
	<label for="">Var:
		<input type="text" data-ng-model="var">
	</label>

	<span data-ng-bind="var"></span>

	<script src="../vendor/angular/angular.min.js"></script>
	
	<!-- Este trecho só foi adicionado pois nomeamos nosso ng-app -->
	<script type="text/javascript">
	angular.module("app", []);
	</script>

</body>
</html>