<!DOCTYPE html>
<html lang="en" data-ng-app="treinamento">
<head>
	<meta charset="UTF-8">
	<title>Treinamento MEAN Stack</title>
</head>
<body>
	<div data-ng-controller="ExemploController as Exemplo">

		<p> Preencha os campos abaixo para adicionar um novo curso </p>

		<p>
			<label><input type="text" data-ng-model="form.Exemplo.nome"></label>
			<label><input type="text" data-ng-model="form.Exemplo.cargaHoraria"></label>
			<button data-ng-click="Exemplo.add(form.Exemplo)">Adicionar</button>
		</p>

		<ul>
			<li data-ng-repeat="curso in Exemplo.cursos">{{ curso.nome }} - {{ curso.cargaHoraria }}</li>
		</ul>
	</div>

	<script src="../vendor/angular/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('treinamento', [])
			.controller('ExemploController', ExemploController);

		function ExemploController(){
			var vm = this;
			vm.cursos = [
				{ nome: 'MongoDB', cargaHoraria: 2 },
				{ nome: 'Node.JS', cargaHoraria: 2 },
				{ nome: 'Mongoose.js', cargaHoraria: 1.5 }
			];

			vm.add = add;
			function add(curso){
				vm.cursos.push(curso);
				
			};
		}
	</script>

</body>
</html>